body { 
  margin-top:  50px;
  background-image: url("people.webp");
  background-size: cover;
  font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: bold; 
  text-align: center; 
}

.container{  
  background : rgb(233, 237, 240);
  margin: auto;
  width: 600px; 
  height: 250px;
  border: 3px solid grey; 
  border-radius: 10px; 
}

#head { 
  margin-top: 10px; 
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  margin-top:  0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}

 
